<html>
{%load static%}
<head>
  

<script src="https://kit.fontawesome.com/9e3fe34478.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="" href="{%static 'css/style.css'%} ">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>


<body>
    <nav>
    <div class="mylogo">
        <h4>Local Coffee Cups</h4>

    </div>
    <ul class="nav-links">
      <li>
        <a href="http://127.0.0.1:8000/">Home</a> 
     </li>
       <li>
        <a href="http://127.0.0.1:8000/shops">Shops</a> 
     </li>
       <li>
        <a href="http://127.0.0.1:8000/blog/index">Blog</a> 
     </li>
       <li>
        <a href="http://127.0.0.1:8000/about">About</a> 
     </li>
     <li>
        <a href="#">Donate</a> 
     </li>
    </ul>
    <div class="burger">
    <div class="myline1"></div>
    <div class="myline2"></div>
    <div class="myline3"></div>
</div>
</nav>
<script src="{%static 'js/nav.js'%}"></script>

    {% block content %}
    {% endblock content %}

<script src="https://js.stripe.com/v3/" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© 2020 <b class="ttu">Local Coffee Cups</b>., All Rights Reserved</small>
  <div class="tc mt3">
    <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
  </div>
</footer>

</body>
</html>